<config

 FILTERREGEX = ".*jd\\.com.*"
 HOMEDIRECTORY = "D:\\bsdb"
 CRAWLERNAME = "jingdong"
 
 SELECTRULE = "{.*club.jd.com.*}div#comments-list  div > div.i-item > div.comment-content>dl dd"
 SELECTRULE = "{.*club.jd.com/review/.*}div#comments-list  div > div.i-item > div.comment-content>dl dd"
 
 SEED = "http://www.jd.com/allSort.aspx"
 SEED = "http://v.iqilu.com/ggpd/xcll"
 
 
/>